/*global start*/
li {
  list-style: none;
}

a,
button {
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 0;
}

.main-btn a {
  color: #0C0B0B;
  background: #b8e144;
  padding: 12px 30px;
  margin: 0;
  border-radius: 26px;
  font-weight: 500;
  display: inline-block;
  border: 1px solid #0C0B0B;
}
.main-btn a:hover {
  background-color: #fff;
  color: #0C0B0B;
}

h1 {
  font-size: 60px;
  font-weight: 400;
  line-height: 75px;
  color: #fff;
  font-family: "Dela Gothic One", sans-serif;
}
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 35px;
    line-height: 40px;
  }
}
@media screen and (max-width: 575px) {
  h1 {
    font-size: 25px;
    line-height: 40px;
  }
}

h2 {
  font-size: 60px;
  line-height: 75px;
  font-weight: 500;
  color: #b8e144;
}
@media screen and (max-width: 1024px) {
  h2 {
    font-size: 35px;
    line-height: 40px;
  }
}

h3 {
  font-size: 50px;
  line-height: 55px;
  font-weight: 500;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  h3 {
    font-size: 35px;
    line-height: 40px;
  }
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 27px;
  }
}

h4 {
  font-size: 23px;
  color: #040d17;
}
@media screen and (max-width: 1024px) {
  h4 {
    font-size: 19px;
  }
}

h4 {
  font-size: 25px;
  color: #b8e144;
}
@media screen and (max-width: 1024px) {
  h4 {
    font-size: 19px;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 1.6rem;
  font-family: "Dela Gothic One", sans-serif;
  font-family: "Roboto", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus {
  color: inherit;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

/*global end*/
/*header start*/
header.site-header {
  background: transparent;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 700;
  text-transform: capitalize;
  color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  transition: 0.3s;
}

header.site-header.sticky {
  background: #0f2000;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding: 10px 0;
  position: fixed;
}

.site-header .site-nav ul li a.active {
  color: #b8e144;
}

.site-logo img {
  width: 100%;
  max-width: 180px;
}

.site-nav a {
  padding: 8px 12px !important;
  display: inline-block;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}
.site-nav a:hover {
  color: #b8e144;
}

.site-btn a {
  color: #0C0B0B;
  background: #b8e144;
  padding: 12px 26px;
  margin: 0;
  border-radius: 26px;
  font-weight: 500;
}
.site-btn a:hover {
  background-color: #fff;
  color: #0C0B0B;
}

.site-header {
  padding: 10px 0;
}

.site-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f2000;
  border-radius: 11px;
}

.site-nav ul {
  display: flex;
  align-items: center;
}

.closed-menu {
  display: none;
}

.menu-toggle {
  display: none !important;
}

/*header end*/
/*home-css-start*/
.homebanner {
  padding: 100px 0;
  background: #040d17;
}
.homebannertext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.homebannertext p {
  color: #fff;
  margin: 25px 0;
}

.sports {
  padding: 100px 0;
  background-color: #040d17;
}

p.sportpara {
  color: rgba(170, 170, 170, 0.5333333333);
}

.sportstext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.sportstext p {
  color: #fff;
}
.sportstext span {
  color: #b8e144;
  font-weight: 600;
}
.sportstext li i {
  color: #b8e144;
  margin-right: 15px;
}
.sportstext li {
  color: #fff;
}
.sportstext h3 {
  margin: 25px 0;
}
.sportstext ul {
  margin: 25px 0;
}

.sportpicture img {
  height: 430px;
  object-fit: cover;
  max-width: 520px;
}
.sportpicture img:hover {
  filter: grayscale(7);
}

.tool-cards {
  border-radius: 8px;
  background: rgba(184, 225, 68, 0.8117647059);
  text-align: center;
  margin: 0 0 20px;
  padding: 35px;
}
.tool-cards h4 {
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 13px;
  margin-top: 13px;
  color: #0C0B0B;
}
.tool-cards img {
  max-width: 60px;
}
.tool-cards img:hover {
  transform: translateY(-10px);
  transition: 0.3s ease-in-out;
}

.tool-cards p {
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.card-section {
  background-color: #040d17;
}
.card-section h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
}
.card-section h2 span {
  color: #b8e144;
}

.flexcard {
  background: #040d17;
  padding: 100px 0;
}
.flexcard-title {
  text-align: center;
}
.flexcard-main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0 10px;
}
.flexcard-main:hover {
  background-color: #b8e144;
  margin: 0;
  transition: 0.3s ease;
}
.flexcard-main p {
  font-size: 14px;
}
.flexcard-main h4 {
  color: #b8e144;
}
.flexcard-picture img {
  height: 203px;
  object-fit: cover;
}

.row.flexcardspace {
  padding-top: 50px;
}

.flexcard-main:hover h4 {
  color: #0C0B0B;
}

.information {
  background: #040d17;
  padding: 100px 0;
}
.information-picture img {
  max-width: 60px;
  margin-bottom: 15px;
}
.information h3 span {
  color: #b8e144;
}
.information-card h4 {
  color: #fff;
}
.information-card h4:hover {
  color: #b8e144;
}
.information-card span {
  color: #fff;
}
.information-card span:hover {
  color: #b8e144;
}

.information-main {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.contactsection {
  background-color: #040d17;
}

.about_us_content {
  padding: 2rem;
  margin: 30px 0;
  max-width: 60%;
  margin: 0 auto;
}
.about_us_content p {
  color: #fff !important;
  text-align: center;
  margin: 25px 0;
}

.form-group {
  margin-bottom: 2rem;
}

.input-control {
  display: block;
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid #fff;
  border-top: none;
  padding: 2rem 2rem;
  background: transparent;
  color: #fff;
  border-left: none;
  border-right: none;
}

.input-control:focus-visible {
  outline: none;
}

textarea.input-control {
  resize: none;
  height: auto;
}

.form-group .submit-btn {
  background: #b8e144;
  border: 1px solid #fff;
  transition: all 0.2s linear;
  display: inline-block;
  padding: 0.8rem 4rem;
  color: #fff;
  text-transform: capitalize;
}
.form-group .submit-btn:hover {
  background-color: #fff;
  color: #0C0B0B;
}

.form-group label {
  display: inline-block;
  padding-bottom: 5px;
  color: #b8e144;
  transition: all 0.2s linear;
  text-transform: capitalize;
  font-family: "Barlow", sans-serif;
}

/*footer-css-start*/
.footer {
  background-color: #040d17;
  padding: 50px 0;
  border-top: 1px solid;
}
.footer-links {
  text-align: center;
}
.footer-links ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.footer-logo {
  max-width: 160px;
  margin: 0 auto 20px;
}
.footer-links h2 {
  color: #fff;
}
.footer-links a {
  color: #fff;
}
.footer-links a:hover {
  color: #b8e144;
}
.footer-adresse h2 {
  color: #fff;
}
.footer-adresse p {
  color: #fff;
}
.footer-mails a {
  color: #fff;
}
.footer-mails {
  display: flex;
  flex-direction: column;
}

.mails-names {
  gap: 12px;
  display: flex;
  align-items: end;
}

.social-signals {
  margin-top: 25px;
  text-align: center;
}
.social-signals i {
  color: #fff;
  border-radius: 30px;
  font-size: 18px;
  margin: 0 10px;
  border: 1px solid #fff;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 36px;
  transition: 0.3s all;
}
.social-signals i:hover {
  color: #b8e144;
  transform: translateY(-10px);
}

.footer_bottom {
  border-top: 1px solid #fff;
  padding: 10px;
  margin: 30px 0;
}
.footer_bottom p {
  text-align: center;
}
.footer_bottom p a {
  color: #fff;
}
.footer_bottom p a:hover {
  color: #b8e144;
}

/*footer-css-end*/
/*home-css-end*/
/*privacy-policy start*/
.privacy__section {
  position: relative;
  height: 450px;
  background-image: url(../images/privacybanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin-top: 0;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.privacy__section::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: -1;
}

.privacy-policy {
  padding: 50px 0;
}
.privacy-policy .content-wrap li {
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  color: #0C0B0B;
  padding-bottom: 8px;
}

.terms {
  padding: 50px 0;
}
.terms .content-wrap li {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #0C0B0B;
  padding-bottom: 8px;
}

.content-wrap h4 {
  color: #b8e144;
  font-size: 21px;
  margin-bottom: 0;
}
.content-wrap p {
  font-size: 16px;
  padding-bottom: 8px;
  color: #0C0B0B;
}

/*privacy-policy end*/
/*terms-conditon start*/
.terms__section {
  position: relative;
  height: 450px;
  background-image: url(../images/termsbanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin-top: 0;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.terms__section::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: -1;
}

/*terms-conditon-end/

/*cookies-conditon-start*/
.cookiesbanner {
  height: 450px;
  background-color: #040d17;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cookies {
  padding: 50px 0;
}

/*cookies-conditon-end*/
/*contact-conditon-start*/
.contactbanner {
  position: relative;
  height: 450px;
  background-image: url(../images/contactbanner.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin-top: 0;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contactbanner::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: -1;
}

.contacttext {
  padding: 50px 0;
  background: #040d17;
}

/*contact-conditon-end*/
/*howplay-conditon-start*/
.howplay {
  position: relative;
  height: 450px;
  background-image: url(../images/howto-playbanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin-top: 0;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.howplay::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: -1;
}

/*howplay-conditon-end*/
/*play-conditon-start*/
.playsection {
  background: #040d17;
  padding: 100px 0;
}

.playinner {
  border: 1px solid #fff;
  border-radius: 9%;
  height: 260px;
  width: 100%;
  padding: 20px;
}

.playinner:hover {
  background-color: #b8e144;
}

.playinner:hover h4 {
  color: #0C0B0B;
}

.playsection .row {
  row-gap: 34px;
}

.playinner h3 {
  font-size: 27px;
  margin-bottom: 0;
}

/*play-conditon-end*/
/*about-css-start*/
.aboutbanner {
  position: relative;
  height: 450px;
  background-image: url(../images/aboutbanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin-top: 0;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.aboutbanner::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: -1;
}

.abouttext {
  background-color: #040d17;
  padding: 100px 0;
}

.aboutbottom p {
  padding-top: 25px;
}

.abouttext .row {
  row-gap: 25px;
}

/*about-css-end*/


/*# sourceMappingURL=style.css.map */
