@import './variables';
@import './mixins';

li {
    list-style: none;
}

a,
button {
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: $clr-white;
    margin-bottom: 0;
}

.main-btn a {
    color: $clr-black;
    background: $clr-parrot;
    padding: 12px 30px;
    margin: 0;
    border-radius: 26px;
    font-weight: 500;
    display: inline-block;
    border: 1px solid $clr-black;

    &:hover {
        background-color: #fff;
        color: #0C0B0B;
    }
}

h1 {
    font-size: 60px;
    font-weight: 400;
    line-height: 75px;
    color: $clr-white;
    font-family: 'Dela Gothic One', sans-serif;

    @include mq(xl) {
        font-size: 35px;
        line-height: 40px;
    }

    @include mq(sm) {
        font-size: 25px;
        line-height: 40px;
    }
}

h2 {
    font-size: 60px;
    line-height: 75px;
    font-weight: 500;
    color: $clr-parrot;

    @include mq(xl) {
        font-size: 35px;
        line-height: 40px;
    }

}

h3 {
    font-size: 50px;
    line-height: 55px;
    font-weight: 500;
    color: $clr-white;

    @include mq(xl) {
        font-size: 35px;
        line-height: 40px;
    }

    @include mq(md) {
        font-size: 27px;
    }
}

h4 {
    font-size: 23px;
    color: $clr-darkblue;

    @include mq(xl) {
        font-size: 19px;
    }
}